[submodule "xfwm4/thinble"]
	path = xfwm4/thinble
	url = https://gitlab.com/ema-pe/backup-thinble-xfwm4-theme.git
[submodule "xfwm4/backup-thinble-xfwm4-theme"]
	path = xfwm4/backup-thinble-xfwm4-theme
	url = https://gitlab.com/ema-pe/backup-thinble-xfwm4-theme.git

[submodule "vim/plugins/start/goyo.vim"]
	path = vim/pack/plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/plugins/start/vim-pencil"]
	path = vim/pack/plugins/start/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
[submodule "vim/plugins/start/papercolor-theme"]
	path = vim/pack/plugins/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/plugins/start/vim-syntax-extra"]
	path = vim/pack/plugins/start/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "vim/plugins/start/pythob-syntax"]
	path = vim/pack/plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "vim/pack/plugins/start/simplylfold"]
	path = vim/pack/plugins/start/simplylfold
	url = https://github.com/tmhedberg/SimpylFold.git
