[submodule "icons"]
	path = icons/papirus
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme.git
[submodule "xfwm4/thinble"]
	path = xfwm4/thinble
	url = https://gitlab.com/ema-pe/backup-thinble-xfwm4-theme.git
[submodule "xfwm4/backup-thinble-xfwm4-theme"]
	path = xfwm4/backup-thinble-xfwm4-theme
	url = https://gitlab.com/ema-pe/backup-thinble-xfwm4-theme.git
