
module fix-tlp 1.0;

require {
	type user_home_dir_t;
	type tlp_t;
	type user_home_t;
	class capability { dac_override dac_read_search };
	class dir search;
	class file { open read };
}

#============= tlp_t ==============
allow tlp_t self:capability { dac_override dac_read_search };

allow tlp_t user_home_dir_t:dir search;

allow tlp_t user_home_t:dir search;

allow tlp_t user_home_t:file read;
allow tlp_t user_home_t:file open;
