[Unit]
Description=Change background every 30 minutes

[Install]
WantedBy=timers.target

[Timer]
# Time to wait after booting before we run first time
OnBootSec=15minutes
# Time between running each consecutive time
OnUnitActiveSec=15minutes
